<H1>bwah bwah bwah</H1>
<H4> welcome to the secret page where all your whims and desires are acknowledged </H4> 



<ul>
	<li><a href="/login">sign in</a></li>
	<li><a href="/register">register</a></li>
	<li><a href="/logout">log out</a></li>
</ul>